@page
@using LogicLayer;
@model WebsiteApplication.Pages.AllCategoriesModel
@{
}
<link rel="stylesheet" href=@Url.Content("~/css/Categories.css" ) />
<div class="allcategories">
    <h1>Categories</h1>
     @foreach(Category c in Model.Categories)
     {
         <div class="category">
             <h3> @c.Name</h3>
            <a asp-page="/Subcategory" class="btn btn-primary" asp-route-id="@c.Id">See sub-categories</a>
         </div>
     }
</div>
