@page
@model WebsiteApplication.Pages.CheckoutModel
@{
}
<link rel="stylesheet" href=@Url.Content("~/css/Checkout.css" ) />

<div class="row">
    <div class="col-75">
        <div class="container">
            <form method="post">

                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <span asp-validation-for="BillingAdress.Name"></span>
                        <input asp-for="BillingAdress.Name" type="text" id="fname"placeholder="John M. Doe">
                        <span asp-validation-for="BillingAdress.Email"></span>
                        <input asp-for="BillingAdress.Email" type="email" id="email" placeholder="john@example.com">
                        <span asp-validation-for="BillingAdress.PostalCode"></span>
                        <input asp-for="BillingAdress.PostalCode" type="text" id="psc" placeholder="1234 AB">
                    </div>
                </div>
                <input type="submit" asp-route-total="@Model.Total" asp-page-handler="Order" value="Continue to checkout" class="btn">
            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="container">
            <h4>
                Cart
                <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"></i>
                    <b>@Model.cart.Count</b>
                </span>
            </h4>
            @foreach(var item in Model.cart)
            {
                <p>@item.Product.Name</p>
            }
            <hr>
            <p>Total <span class="price" style="color:black">@Model.Total$</span></p>
        </div>
    </div>
</div>