@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href=@Url.Content("~/css/Index.css" ) />
<div class="text-center">
    <h1>Welcome to our the online webshop</h1>
    <div class="loggedin">
        @if(Model.UserID != null)
        {
            <p>Welcome @Model.Username! Browse our catalogue and discover our most popular picks! </p>
        }
        else
        {
            <p>Oops, you are not logged in! You don't know what you are missing...</p>
        }
    </div>
    <div class="mostpopular">

    </div>
    <h2>Quickly go to</h2>
    <div class="quickaccessParent">
        <div class="quickaccess">
            <img src="/img/allproducts.jpg" width="300" height="200" />
            <p>All products</p>
            <button onclick="location.href='/Catalogue'">Go now</button>
        </div>
        <div class="quickaccess">
            <img src="/img/categoriespicture.jpg" width="300" height="200" />
            <p>All Categoies</p>
            <button onclick="location.href='/Allcategories'">Go now</button>
        </div>
        <div class="quickaccess">
            <img src="/img/favorite.png" width="300" height="200" />
            <p>Go to favorites</p>
            <button onclick="location.href='/Favorites'">Go now</button>
        </div>
    </div>
    
</div>
