@page
@model WebsiteApplication.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
}
<title>Log in - RobertHeijn</title>
<link rel="stylesheet" href=@Url.Content("~/css/Login.css" ) />
<form class="loginForm" method="post" asp-page-handler="User">
    <div class="form-field">
        <span asp-validation-for="Model.Email"></span>
        <input asp-for="Model.Email" type="email" placeholder="Email"/>
    </div>
    <div class="form-field">
        <span asp-validation-for="Model.Password"></span>
        <input asp-for="Model.Password" type="password" placeholder="Password" />
    </div>
    <div class="form-field">
        <button class="btn" type="submit" asp-page-handler="Login" value="login">Log in</button>
    </div>
</form>

<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
