@page
@model WebsiteApplication.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign in";
}

<title>Sign in - RobertHeijn</title>
<link rel="stylesheet" href=@Url.Content("~/css/SignUp.css" ) />
<form class="loginForm" method="post" asp-page-handler="User">
    <div class="form-field">
        <span asp-validation-for="Model.Name"></span>
        <input asp-for="Model.Name" type="text" placeholder="Name" />
    </div>
    <div class="form-field">
        <span asp-validation-for="Model.Email"></span>
        <input asp-for="Model.Email" type="email" placeholder="Email" />
    </div>
    <div class="form-field">
        <span asp-validation-for="Model.Password"></span>
        <input asp-for="Model.Password" type="password" placeholder="Password" />
    </div>
    <span style="color: red;">@Html.ValidationMessage("WrongCredentials")</span><br>
    <span style="color: red;">@Html.ValidationMessage("Invalid")</span><br>
    <div class="form-field">
        <button class="btn" type="submit" asp-page-handler="Signin" value="login">Sign in</button>
    </div>
</form>
